<footer class="page-footer">
  <div class="container">
    <ul class="center">
      <li>
          <a href="/">Home</a>
        <span>
          |
        </span>
          <a href="/about">About</a>
        <span>
          |
        </span>
          <a href="/game">Game</a>
        <span>
          |
        </span>
          <a href="/Posts">Contact</a>
        <span>
          |
        </span>
          <a href="/ladder">Ladder</a>
      </li>
    </ul>
  </div>
  <div class="footer-copyright">
    <div class="center">

      <p>Copyright © 2017 Bananabolt, All Rights Reserved
      <br />
      </p>
    </div>
  </div>
</footer>