<nav>
  <div class="nav-wrapper">
  <i id="bolt" class="fa fa-bolt fa-5x" aria-hidden="true"></i>
    <a href="/" id="title" class="brand-logo">bananaBolt</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/">Home</a></li>
      <li><a href="/Posts">Posts</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/ladder">Ladder</a></li>
    </ul>
  </div>
</nav>