<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="/stylesheets/font-awesome/css/font-awesome.min.css">
  </head>
  <body>
    <header>
      <% include ./partials/header %>
    </header>
    <h1 class="center marker">Game</h1>
    <p id="game">
            A major key, never panic. Don’t panic, when it gets crazy and rough, don’t panic, stay calm. Wraith talk. They don’t want us to eat. Don’t ever play yourself. They don’t want us to eat. Let’s see what Chef Dee got that they don’t want us to eat. Always remember in the jungle there’s a lot of they in there, after you overcome they, you will make it to paradise. I’m giving you cloth talk, cloth. Special cloth alert, cut from a special cloth.

      The ladies always say Khaled you smell good, I use no cologne. Cocoa butter is the key. Hammock talk come soon. In life you have to take the trash out, if you have trash in your life, take it out, throw it away, get rid of it, major key. Surround yourself with angels. They don’t want us to eat. It’s important to use cocoa butter. It’s the key to more success, why not live smooth? Why live rough? It’s important to use cocoa butter. It’s the key to more success, why not live smooth? Why live rough?
    </p>
  </body>
      <% include ./partials/footer %>
  </html>