<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="/stylesheets/font-awesome/css/font-awesome.min.css">
  </head>
  <body>
    <header>
      <% include ./partials/header %>
    </header>
    <h1 class="center">Welcome</h1>
    <p class="pad">
      Lorem Khaled Ipsum is a major key to success. They don’t want us to eat. The key is to enjoy life, because they don’t want you to enjoy life. I promise you, they don’t want you to jetski, they don’t want you to smile. We the best. Watch your back, but more importantly when you get out the shower, dry your back, it’s a cold world out there. Give thanks to the most high. Major key, don’t fall for the trap, stay focused. It’s the ones closest to you that want to see you fail. They don’t want us to win.

      Look at the sunset, life is amazing, life is beautiful, life is what you make it. They will try to close the door on you, just open it. The weather is amazing, walk with me through the pathway of more success. Take this journey with me, Lion! Lion! You do know, you do know that they don’t want you to have lunch. I’m keeping it real with you, so what you going do is have lunch. Another one. Fan luv. Find peace, life is like a water fall, you’ve gotta flow.
    </p>
  </body>
      <% include ./partials/footer %>
  </html>