<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <header>
      <% include ./partials/header %>
    </header>
    <h1 class="center marker">Ladder</h1>
    <p class="pad">
      The key is to drink coconut, fresh coconut, trust me. Put it this way, it took me twenty five years to get these plants, twenty five years of blood sweat and tears, and I’m never giving up, I’m just getting started. Hammock talk come soon. Bless up. The key is to enjoy life, because they don’t want you to enjoy life. I promise you, they don’t want you to jetski, they don’t want you to smile. Don’t ever play yourself. You should never complain, complaining is a weak emotion, you got life, we breathing, we blessed.

      The weather is amazing, walk with me through the pathway of more success. Take this journey with me, Lion! I’m up to something. Wraith talk. Celebrate success right, the only way, apple. In life there will be road blocks but we will over come it. I told you all this before, when you have a swimming pool, do not use chlorine, use salt water, the healing, salt water is the healing. Hammock talk come soon. Learning is cool, but knowing is better, and I know the key to success. Let’s see what Chef Dee got that they don’t want us to eat. Mogul talk.
    </p>
  </body>
      <% include ./partials/footer %>
  </html>