@import 'materialize.min.css';
@import 'font-awesome-4.7.0/css/font-awesome.min.css';

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


main {
  flex: 1 0 auto;
}
   
footer.page-footer{
  background-color: #0b0d11 !important;
}

#game{
    color: white;
    border: solid;
    border-color: black;
    height: 500px;
    margin-right: 10%;
    margin-left: 10%;
}

#title{
  color: #ffff80;
}

#bolt{
  color: #ffff80;
}

.yello{
  color: #ffff80;
}

.pad{
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
}

.row{
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.nav-wrapper{
  background-color: #0b0d11 !important;
}

.marker{
  font-family: "Permanent Marker";
}